/* inline id class tagname/element */
/* 0 0 0 0 */



/* 0 0 0 2 */
div h2{
    color: red;
}

/* 0 0 1 0 */
.header-2 {
    color: yellow;
}

/* 0 1 0 0 */
#header-2-id {
    color: pink;
}

/* 0 0 0 1 */
h2 {
    color: green;
}